.Tree {
  .Node {
    flex-grow: 1;
    margin-right: 4px;
    margin-left: 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .Children {
    display: flex;
    border-top: 1px solid white;
  }
}
